.caleb-navbar{
	background-color: rgba(0, 0, 0, 0.55);
	box-shadow: 1px 1px 3px, rgba(255 , 255 , 255 , 0.54) ;
	z-index: 99;
}
.caleb-navbar .nav-link{
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0,3s ease;

}
.caleb-navbar .nav-link:hover{
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);

}
.banniere,
.order-form{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/poulet.jpg') center center fixed 
	no-repeat;
	height: 600px;
	background-size: cover;
}
.order-form{
	height: 400px;
}
.caleb-menu{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/cuisine.jpg') center center fixed 
	no-repeat;
	height: 1000px;
	background-size: cover;

}
.btn-order{
    color: #fff;
    background-color: #198754;
}
.btn-order:hover{
    color: #fff;
    background-color: transparent;
    border-color: #198754;
}